@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&display=swap');

body {
  font-family:'Cabin', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  margin: auto;
  padding: 0 20px;
  text-align: center;
  font-size: 1rem;
  
}

header {
  font-size: 3rem;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family:'Cabin', sans-serif;
  font-weight: 700; 
  line-height: 1.3px;
  text-align: center;
  font-size: 2rem;
  padding-top: 10px;
}

.social__description {
  font-size:clamp(1.5rem, 3vw, 2rem);
}


li {
  font-size:clamp(1.5rem, 3vw, 2rem);
  
padding: 0 10px;
  list-style: none;
}